build
dist
docs
packages
manifest.mf
nbproject
nbbuild.xml
resources/ResourcesAnchor.class
resources/htdocs/js/locale*js
resources/htdocs/js/*packed*js
resources/locales/index
sockso.properties
src/com/pugh/sockso/Sockso.java
src/com/pugh/sockso/templates
.DS_Store
*.~*~
.*
website/conf/smut.conf
website/views/controllers/version/latest.tpl
